version: '3.8'

services:
  sumo-backend:
    build: ./sumo-backend
    ports:
      - "5000:5000"
    volumes:
      - ./scenarios
    env_file:
      - .env
    environment:
      - SUMO_HOME=/usr/share/sumo
    restart: always