version: '3.8'

services:
  sumo-backend:
    container_name: sumo-backend
    build: ./sumo-backend
    ports:
      - "5000:5000"
    volumes:
      - ./scenarios:/app/scenarios
    env_file:
      - .env
    environment:
      - SUMO_HOME=/usr/share/sumo
    restart: always
    networks:
      - sumo-net

networks:
  sumo-net:
    driver: bridge